body {
  transition: 1s opacity;
  opacity: 1;
  margin: 0;
}

body.fade-out {
  transition: none;
  opacity: 0;
}

.salutation-container {
  margin-bottom: 4%;
}

.salutation-img {
  width: 80%;
  margin-bottom: 4%;
  padding: 0!important;
}

.about-copy-container {
  padding: 5% 0;
}

.about-copy-container > .margin-control {
  margin-top: 0;
}

.margin-control {
  margin: 10% 5% 0 5%;
}

.about-copy-container {
  background-color: #EC4557;
  color: white;
}

.about-copy-container a:link,
.about-copy-container a:visited,
.about-copy-container a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.about-copy-container p {
  font-size: 18px;
}

.about-copy-sub-container {
  font-family: 'SF Pro Text';
  font-size: 20px;
  margin-top: 5%;
}

.about-copy-container + .default-footer {
  margin-top: 0;
}

/*----------------- RESPONSIVE -----------------*/

@media (min-width: 320px) and (max-width: 480px) {
  .about-container {
    text-align: center;
  }

/*  .about-container .salutation {
    letter-spacing: -5px;
    font-size: 120px;
    margin: 10% 0;
  }*/

  .about-copy-sub-container {
    text-align: left;
    margin-top: 10%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about-copy-container > .margin-control {
    margin-top: 0;
  }

  .margin-control {
    margin: 8% 15% 0 15%;
  }
}

@media (min-width: 1025px) {
  .about-copy-container > .margin-control {
    margin-top: 0;
  }

  .margin-control {
    margin: 8% 19% 0 20%;
  }
}

@media (min-width: 1281px) {
  .about-copy-container > .margin-control {
    margin-top: 0;
  }

  .margin-control {
    margin: 8% 36% 0 20%;
  }
}
