.steps-container {
  margin: 4% 0;
}

.numberCircle {
  background: #FFFFFF;
  color: #00a0dc;
  border: 2px solid #00a0dc;
  border-radius: 50%;
  padding: 8px;
  height: 55px;
  width: 55px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.media-explanation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gallery-container hr {
  border: solid 1px #EEEEEE;
  margin-top: 4.35%;
}

.container-title {
  font-weight: bold;
  margin: 4% 0;
}

.first-title {
   margin: 9% 0 3% !important;
}

.get-together .insight {
  background-color: #434649;
}

.get-together .analysis-container .media-body img {
  width: 25%;
}

.prototype-container {
  margin-top: 7%;
}

.paper-prototypes {
  width: 40%;
}

.wireframes {
  width: 6%;
}

.wireframes img {
  width: 33%;
}

.project-footer .radar-section {
  background-color: #FEDB86;
  color: #157EFB;
}

.project-footer .radar-section a:link,
.project-footer .radar-section a:visited,
.project-footer .radar-section a:hover {
  color: #157EFB;
}

/*----------------- RESPONSIVE -----------------*/
@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
/*  .get-together .summary-container,
  .get-together .tldr-container  {
    padding: 8% 15% 8% 15%;
  }*/
}

@media (min-width: 1025px) {
}
