header {
  font-family: 'SF Pro Text', sans-serif;
  margin: 10% 5% 0 5%;
}

header nav {
  display: flex;
}

nav .email-link {
  letter-spacing: 2px;
  line-height: 32px;
  font-weight: 900;
  font-size: 20px;
  color: #EC4557;
  width: 70%;
}

nav .nav-links {
  justify-content: space-around;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  width: 30%;
}

nav a:link,
nav a:visited,
nav a:hover {
  text-decoration: none;
  color: #EC4557;
}

nav .nav-links a:link,
nav .nav-links a:visited,
nav .nav-links a:hover {
  text-decoration: none;
  line-height: 32px;
  color: #262626;
}

nav .nav-links a {
  background: transparent;
  display: inline-block;
  width: 30%;
  text-align: center;
  color: #EC4557;
  background-image: linear-gradient(180deg,transparent 0,#EC4557 0);
  background-position: 0 2em;
  /*background-position: 0;*/
  background-repeat: no-repeat;
  -webkit-transition: background-position 300ms ease-out;
  -ms-transition: background-position 300ms ease-out;
  -moz-transition: background-position 300ms ease-out;
  -o-transition: background-position 300ms ease-out;
  transition: background-position 300ms ease-out;
}

nav .nav-links a:hover {
  background-position: 0;
  color: white;
}

/*----------------- RESPONSIVE -----------------*/

@media (min-width: 320px) and (max-width: 480px) {
  nav .email-link {
    letter-spacing: 2px;
    font-size: 14px;
  }

  nav .nav-links a {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  nav .email-link {
    letter-spacing: 2px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    margin: 10% 15% 0 15%;
  }
}

@media (min-width: 1025px) {
  header {
    margin: 10% 20% 0 20%;
  }
}
