.homepage .intro {
  font-family: 'Lora', serif;
  margin-top: 20%;
}

.homepage section .name {
  font-family: 'PorterMedium', sans-serif;
  font-size: 20px;
}

.homepage section h1 {
  font-size: 36px;
}

.homepage section p {
  width: 60%;
}

.work-content {
  margin-top: 10%;
}

.work-content h2 {
  font-size: 18px;
  font-family: 'Lora', serif;
}

.priceline-prism, .homecrowd-prism {
  position: relative;
  text-align: center;
  width: 90%;
  background: #F0EDED;
  cursor: pointer;
}

.priceline-prism:hover {
  transition: background-color 500ms ease-out;
  background: #0A84C1;
}

.homecrowd-prism:hover {
  transition: background-color 500ms ease-out;
  background: #FC5640;
}

.priceline-prism {
  margin: 3% 0 1% 0;
}

.priceline-prism:after, .homecrowd-prism:after {
  content: "";
  display: block;
  padding-bottom: 15%;
}

.prism-content {
  font-family: 'PorterMedium';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
  padding-top: 6.5%;
}

.homecrowd-prism .prism-content {
  padding-top: 6%;
}

.prism-content:hover .text {
  display: none;
}

.prism-content img {
  display: none;
}

.prism-content:hover img {
  display: block;
  width: 20%;
  margin: -.5% auto;
}

.homecrowd-prism .prism-content:hover {
  padding-top: 2.75%;
}

.prism-content:hover .homecrowd-logo {
  width: 10%;
}
