.case-container {
  position: relative;
  margin-bottom: 10%;
}

/* OVERRIDES */
body {
  transition: 1s opacity;
  opacity: 1;
  margin: 0;
  background: #e2e0dc;
  font-family: "Garamond", serif !important;
}

body.fade-out {
  transition: none;
  opacity: 0;
}

body::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
	z-index: -1;
}
@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

body p {
  font-family: 'SF Pro Display';
  font-weight: bold;
}

p {
  margin: 0;
}

a:link, a:visited, a:hover {
  text-decoration: none!important;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* BODY */
.bitcoin-lengua {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.project-container {
  margin: 10% 5% 0 5%;
}

.project-container .introduction {
  font-weight: bold;
  line-height: 1.2;
  font-size: 64px;
}

.introduction p {
  margin: 0;
  font-weight: normal;
}

.work-container {
  margin-top: 20%;
}

.work-container .selected-work-copy {
  margin-bottom: 5%;
  font-weight: 600;
}

.top-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  max-width: 400px;
  right: 80%;
  top: 35%;
  text-decoration: none;
  color: #FFFFFF;
}

.img-container {
  position: relative; 
  overflow: hidden;
}

.project-image {
  max-width: 100%;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.project-image:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.copy-box {
  background-color: #000000;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 4% 8%;
  font-size: 20px;
}

.copy-box:first-of-type {
  margin-bottom: 2%;
}

.copy-box p,
.copy-box h3 {
  margin-bottom: 0;
  white-space: nowrap;
  padding: 0 4%;
}

.copy-box p {
  font-size: 16px;
  font-weight: 500;
}

.copy-box h3 {
  font-style: italic;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -1px;
}

.side-text {
  position: absolute;
  /*right: -5%;*/
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  line-height: 20px;
  font-size: 20px;
  background-color: white;
  padding-right: 2%;
  /*height: 200px;*/
}

 /*----------------- RESPONSIVE ----------------- */

@media (min-width: 320px) {
  .work-container .copy-box {
    text-align: center;
    padding: 2% 4%;
  }

  .work-container .copy-box p {
    font-weight: 500;
  }

  .work-container .copy-box h3 {
    font-style: italic;
    font-weight: 600;
  }

  .work-container .side-text {
    bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .project-container .introduction {
    font-size: 28px;
  }

  .top-copy {
    right: 40%;
    top: 12%;
  }

  .work-container .copy-box p {
    font-size: 14px;
  }

  .work-container .copy-box h3 {
    font-size: 20px;
  }

  .work-container .side-text {
    margin-top: 5%;
    position: relative;
    writing-mode: unset;
    transform: none;
    font-size: 14px;
    left: 0;
    padding: 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .project-container .introduction {
    font-size: 48px;
  }
  
  .top-copy {
    right: 60%;
    top: 26%;
  }

  .work-container .copy-box p {
    font-size: 16px;
  }

  .work-container .copy-box h3 {
    font-size: 32px;
  }

  .work-container .side-text {
    font-size: 14px;
    margin-top: 5%;
    position: relative;
    writing-mode: unset;
    transform: none;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .project-container {
    margin: 10% 15% 0 15%;
  }

  .project-container .introduction {
    height: 400px;
  }

  .top-copy {
    top: 33%;
  }

  .work-container .copy-box p {
    font-size: 20px;
  }

  .work-container .copy-box h3 {
    font-size: 34px;
  }

  .work-container .side-text {
    right: -6%;
    font-size: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .project-container .introduction {
    height: 300px;
  }
}

@media (min-width: 1025px) {
  .project-container {
    margin: 10% 20% 0 20%;
  }

  .work-container .copy-box p {
    font-size: 24px;
  }

  .work-container .copy-box h3 {
    font-size: 40px;
  }

  .work-container .side-text {
    right: -5%;
  }
}

@media (min-width: 1330px) {
  .work-container .side-text {
    right: -3%;
  }
}

