.portfolio {
  background-image: none;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin: 5% auto;
}

h2, h4 {
  font-family: 'PorterBold';
  background-color: #F0F1F3;
  padding: 13px 15px 5px;
  display: inline-block;
}

img {
  background-color: #F0F1F3;
}

hr {
  margin: 30px auto;
}

p {
  line-height: 2;
  margin-top: 15px;
}

ul > li {
  list-style: none;
}

a:link,
a:visited {
  color: black
}

a:hover {
  text-decoration: none;
}

footer {
  margin-top: 5%;
}

.between {
  margin: 3% 0;
}

.sub {
  font-size: 14px;
}

.connect-linkedin {
  margin: 0 15px;
}

.disclaimer {
  text-align: center;
  font-size: 12px;
}

.homepage {
  border-bottom: 1px solid black;
}

.connect {
  margin: 4% 0 0 0;
}

@media (min-width: 320px) and (max-width: 549px) {
  .connect {
    margin: 12% 0;
  }
}
