.priceline .fine-print {
  margin-bottom: 5%;
  font-size: 14px;
  color: #aeaeae;
}

.priceline + .project-footer .extras-section {
  background-color: #373737;
  color: #FFFFFF;
}

.priceline + .project-footer .extras-section a:link,
.priceline + .project-footer .extras-section a:visited,
.priceline + .project-footer .extras-section a:hover {
  color: #FFFFFF;
}

/*----------------- RESPONSIVE -----------------*/

@media (min-width: 320px) and (max-width: 480px) {
  .priceline .fine-print {
    margin: 0 8% 5%;
  }
}
