.horizontal-section {
  color: #FFFFFF;
  width: 100vw;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

.radar hr {
  margin: 5% 0;
}

.explore-container {
  background-image: linear-gradient(180deg, white 25%, #405de6 25%, #405de6 75%, white 75%);
}

.radar-container {
  background-image: linear-gradient(180deg, white 25%, #833ab4 25%, #833ab4 75%, white 75%);
}

.saved-flow-container {
  background-image: linear-gradient(180deg, white 25%, #e1306c 25%, #e1306c 75%, white 75%);
}

.itinerary-container {
  background-image: linear-gradient(180deg, white 25%, #fcaf45 25%, #fcaf45 75%, white 75%);
}

.explore-copy {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.radar .analyses-container,
.radar .user-persona-container,
.radar .task-flow-container,
.radar .prototype-container {
  margin-top: 5%;
}

.affinity-map {
  margin-top: 3%;
}

.radar .insight {
  background-color: #405de6;
}

.radar .user-persona-container ul {
  padding: 0 4%;
}

.conclusion-container {
  margin-top: 5%;
}

.radar .conclusion-container ul {
  padding: 0 3%;
}

.journey-map-container {
  margin-top: 5%;
}

.task-flow--first,
.task-flow--second {
  margin-top: 5%;
}

.task-flow--first h6,
.task-flow--second h6 {
  margin-bottom: 3%;
  font-weight: bold;
}

.project-footer .priceline-section {
  background-color: #8cd0ff;
  color: #FFFFFF;
}

.project-footer .priceline-section a:link,
.project-footer .priceline-section a:visited,
.project-footer .priceline-section a:hover {
  color: #FFFFFF;
}

/*----------------- RESPONSIVE -----------------*/

@media (min-width: 320px) and (max-width: 480px) {
  .feature-container .media {
    flex-direction: column;
    padding: 8% 0;
  }

  .explore-container {
    background-image: none;
    background-color: #405de6;
    }

  .radar-container {
    background-image: none;
    background-color: #833ab4;
    margin: 0 !important;
  }

  .saved-flow-container {
    background-image: none;
    background-color: #e1306c;
  }

  .itinerary-container {
    background-image: none;
    background-color: #fcaf45;
    margin: 0 !important;
  }

  .explore-container img,
  .radar-container img,
  .saved-flow-container img,
  .itinerary-container img {
    margin: 0 !important;
  }

  .gif-images {
    /*padding: 12%;*/
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .explore-container {
    background-image: linear-gradient(180deg, white 15%, #405de6 15%, #405de6 85%, white 85%);
    }

  .radar-container {
    background-image: linear-gradient(180deg, white 15%, #833ab4 15%, #833ab4 85%, white 85%);
  }

  .saved-flow-container {
    background-image: linear-gradient(180deg, white 15%, #e1306c 15%, #e1306c 85%, white 85%);
  }

  .itinerary-container {
    background-image: linear-gradient(180deg, white 15%, #fcaf45 15%, #fcaf45 85%, white 85%);
  }

  .radar .feature-container h5 {
    font-size: 18px;
  }

  .radar .feature-container p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .explore-container {
    background-image: linear-gradient(180deg, white 0%, #405de6 0%, #405de6 95%, white 95%);
    }

  .radar-container {
    background-image: linear-gradient(180deg, white 0%, #833ab4 0%, #833ab4 95%, white 95%);
  }

  .saved-flow-container {
    background-image: linear-gradient(180deg, white 0%, #e1306c 0%, #e1306c 95%, white 95%);
  }

  .itinerary-container {
    background-image: linear-gradient(180deg, white 0%, #fcaf45 0%, #fcaf45 95%, white 85%);
  }

  .radar .feature-container .media-body {
    max-width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .radar .feature-container .media-body {
    max-width: 100%;
    margin-left: 10%;
  }
}
