# Make pages render without their extension
# Options +MultiViews
# example.com/page will display the contents of example.com/page.html
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^(.+)$ $1.html [L,QSA]

# 301 from example.com/page.html to example.com/page
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
# RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Rerouting /portfolio.html to /index.html
# Options +FollowSymLinks
# RewriteEngine On
# RewriteRule ^portfolio.*$ http://christianalai.com/ [R=301,L]

# Setting directory index
# DirectoryIndex index.html
